a{
  color: rgb(61, 59, 59);
  text-decoration: none;
}
.anonim{
  width: 200px;
}
body{
  background-image: url("/static/main/img/bgprof.jpg"); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 1180px;
  height: 90px;
  background-color: aliceblue;
  border: solid;
}
.tuch{
      text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    /* overflow: hidden; */
    border: 2px solid;
    border-bottom-width: 4px;
    font-family: 'SemiBoldItalic', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(30, 255, 188, 1);
    background: rgba(255, 255, 255, 1);
    transition: color .3s, background .5s;
}
.animated-button:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgba(30, 255, 188, 1) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(30, 255, 188, 1) 50%, rgba(30, 255, 188, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
  background-size: 10px 10px;
  color: #FF50E5;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}



main{
  background-color: rgba(255, 255, 255, .5);
  width: 1000px;
  margin-top: 70px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}