a{
  color: rgb(61, 59, 59);
  text-decoration: none;
}
.anonim{
  width: 200px;
}
body{
  background-image: url("/static/main/img/bgprof.jpg"); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 1180px;
  height: 90px;
  background-color: aliceblue;
  border: solid;
}
 .tuch{                      /* кнопки перехода на страницы */
      text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 15px 30px;
    border: 2px solid;
    border-radius: 5px;
    border-bottom-width: 4px;
    font-family: 'SemiBoldItalic', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(8, 56, 42);
    background: rgba(255, 255, 255, 1);
    transition: color .3s, background .5s;
    
}
button:hover { 
  background-color: rgb(88, 88, 101);

}

main{
  background-color: rgba(255, 255, 255, .5);
  width: 1000px;
  margin-top: 70px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exit{
  margin-top: 5px;
  background-color: rgb(83, 158, 224);
  border: rgb(181, 181, 235) 1px solid; 
  border-color: rgba(11, 55, 144, 0.603);
  border-radius: 10px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  width: 300px;
  padding: 5px;
  cursor: pointer;
}