<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main/css/frame.css">
  <title>оправы</title>
</head>
<body>
  <div class="text-l">
    <div>
      <h1>оправы бывают разными &#128064;</h1>
    </div>
    <div>
      <p>всегда в наличии более сотни оправ</p>
    </div>
  </div>
<div class="block-frams">
  <div class="frams">оправы ободковые</div>
  <div class="frams">оправы на леске</div>
  <div class="frams">комбинированные</div>
  <div class="frams">на втулках(силуэт)</div>
  <div class="frams">лекторы</div>
  <div class="frams">металлические, пластиковые, титановые</div>
  <div class="frams"> и другие</div>
</div>




</body>
</html>