<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main/css/frame.css">
  <title>оправы</title>
</head>
<body>
  <div class="text-l">
    <div>
      <h1>оправы бывают разными &#128064;</h1>
    </div>
    <div>
      <p>всегда в наличии более сотни оправ</p>
    </div>
  </div>
<div>оправы ободковые</div>
<div>оправы на леске</div>
<div>комбинированные</div>
<div>на втулках(силуэт)</div>
<div>лекторы</div>
<div>металлические, пластиковые, титановые</div>




</body>
</html>