<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main/css/lensess.css">
  <title>линзы</title>
</head>
<body>
  <div class="text-l">
    <div>
      <h1>наши линзы</h1>
    </div>
    <div>
      <p>мы используем только качественную продукцию</p>
    </div>
  </div>

  <div class="block-a">
    <div>
      <h3 class="H3-block">Навстречу свету <br>с линзами BBGR Transitions<details>Фотохромные линзы семейства Transitions XTRActive обеспечивают лучшее затемнение и защиту от яркого света в помещении, на улице и даже в автомобиле. Реагируют не только на ультрафиолетовые лучи, но также и на видимый солнечный свет. Затемняются внутри автомобиля за лобовым стеклом, обеспечивая водителю комфортное затемнение до 2 категории (до 50%). На улице даже в жаркую погоду они могут заменить солнцезащитные очки, так как затемняются более чем на 90% .

        Новое поколение фотохромных линз BBGR Transitions XTRActive NG представлено в трёх классических цветах: коричневом, сером и серо-зелёном. Можно заказать в материалах 1.5, 1.6, 1.67 в однофокальных и прогрессивных дизайнах в сочетании с мультипокрытиями Neva Max UV, Neva Max UV Night Drive Boost, Diam's Clear UV, Diam's Clear и Mirrors.
        
        Фотохромные поляризационные линзы BBGR Transitions XTRActive Polarized представлены в одном классическом цвете – сером. Можно заказать в материалах 1.5, 1.6, 1.67 в однофокальных и прогрессивных дизайнах в сочетании с мультипокрытиями Neva Max UV, Neva Max UV Night Drive Boost, Neva Max Solaire UV, Diam's Clear UV, Diam's Clear.</details></h3>
      <video class="video-len" src="/static/main/video/01 FSTS_Ruby_Video_16-9_20sec_RUS.mp4" controls></video>

    </div>
    <div>
      <h3 class="H3-block">Прогрессивные линзы <br>BBGR</h3>
      <video class="video-len" src="/static/main/video/2021_08 Прогрессивные линзы.mp4" controls></video>
    </div>
    <div>
      <h3 class="H3-block">Окрашенные линзы <br>BBGR</h3>
      <video class="video-len" src="/static/main/video/2021_06 BBGR protiv.mp4" controls></video>
    </div>
    <div>
      <h3 class="H3-block">Линзы для вождения <br> технология Night Drive Boost</h3>
      <video class="video-len" src="/static/main/video/Neva Max UV Night Drive Boost protiv.mp4" controls></video>
    </div>
  </div>

  <div class="block-b">
    <div>
      <h3 class="H3-block">Технология BLUVXpert. <br> защита глаз от вредного синего света</h3>
      <video class="video-len" src="/static/main/video/BBGR BLUVXpert.mp4" controls></video>
    </div>
    <div>
      <h3 class="H3-block">Офисные линзы <br>BBGR</h3>
      <video class="video-len" src="/static/main/video/ofise BBGR protiv.mp4" controls></video>
    </div>
    <div>
      <h3 class="H3-block">Фотохромные линзы <br>Transitions XTRActive NG</h3>
      <video class="video-len" src="/static/main/video/TRANSITIONS_XTRACTIVE_NG.mp4" controls></video>
    </div>
    <div>
      <h3 class="H3-block">Фотохромные линзы BBGR Transitions GEN8.<br> Стильная защита ваших глаз.</h3>
      <video class="video-len" src="/static/main/video/Transitions GEN8 style.mp4" controls></video>
    </div>
  </div>




</body>
</html>