<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main/css/organizations.css">
  <title>организациям</title>
</head>
<body>
  <div><img class="logo" src="/static/main/img/logo.png" alt="logotip"></div>
  <div class="uptext">
    <h1>Услуги фирмам и организациям!</h1>
  </div>

  <div class="ram-block">
    
    <p>
      Приглашаем к сотрудничеству фирмы и организации.
       Приглашаем всех, кто заботится о своих сотрудниках, и для кого люди - не просто инструмент достижения поставленной цели.
    </p>
     <p>
       Все мы знаем, что минимум один раз в год необходимо проверять зрение, и если деятельность коллектива связана с
       компьютером, вождением автомобиля, работой в офисе, то мы возьмем заботу о зрении
       вашего коллектива на себя.
     </p> 
    <p>
      Для сотрудничества, нам c Вами необходимо согласовать дату и время выезда в вашу организацию.
      При необходимости мы осуществляем проверку зрения, подбираем оправу и очковые линзы, 
      обговариваем дату доставки готового заказа.
      Вы как руководитель можете взять на себя оплату части заказа вашего сотрудника, проявив свою заботу
      о своих подчиненных. По желанию, мы сохраним данные о зрении и на следующий год проверим динамику. 
      Доверив нам зрение, вы экономите время и повышаете работоспособность своего коллектива!
    </p>
  </div>



</body>
</html>