<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main/css/portfolio.css">
  <title>наши работы</title>
</head>
<body>
 
    <h1>наши работы</h1>
  <main>
    {% for portfolio in list %}
    <div class='portfolio'>
    <img class="foto" src="{{portfolio.foto.url}}" alt="фотография">
    <p class="text">{{portfolio.text}}</p>
    </div>
    {% endfor %}
  </main>




</body>
</html>