<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main/css/review.css">
    <link rel="stylesheet" href="/static/main/css/fonts.css">
    <link rel="stylesheet" href="/static/main/css/media.css">
      <title>Отзывы</title>
</head>
<body>
  {% if user.is_authenticated %}
  <form class="forma" method="POST" action='/addreview' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="formcontent">
      <p>загрузка...</p>
    </div>
  <input class="save" type="submit" value="сохранить">
  </form>

  {% else %}
  <div class="title">
    <h3>Чтобы оставить отзыв зарегистрируйтесь или войдите в систему</h3>
  </div>
  <button class="register"><a href="/login/">регистрация</a></button>
  <button class="open"><a href="/login/login">войти</a></button>
  {% endif %}
  
    {% for review in list %}
  <div class='review'>
    <img src="{{review.foto.url}}" alt="фотография">  
    <p class="titlefot">{{review.text}}</p>
    <h3 class="nike">{{review.user.username}}</h3>
    {% if user.username == review.user.username %}
      <div class="control">
        <form action="/deletreview/{{review.id}}" method="POST">
          {% csrf_token %}
          <input class="delete" type="submit" value="удалить">
        </form>
      </div>
    {% endif %}
  </div>
    {% endfor %}

    <script src="/static/main/js/review.js"></script>
</body>
</html>