<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main/css/sale.css">
  <title>акции</title>
</head>
<body>
  <div class="text-l">
    <div>
      <h1>Новенькое</h1>
    </div>
    <div>
      <p>в этом разделе мы раскажем о самых выгодных предложениях</p>
    </div>
  </div>
  <main>
    {% for sale in list %}
    <div class='sale'>
    <img class="foto" src="{{sale.foto.url}}" alt="фотография">
    <p class="text">{{sale.text}}</p>
    </div>
    {% endfor %}
  </main> 

</body>
</html>