*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgb(63, 12, 171);
  text-decoration: none;
}
.logo {
  margin-top: -20px;
  width: 230px;
}

 
body{
  padding-top: 50px;
  background-image: url("/static/main/img/bgab.jpg"); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uptext{
  text-align: center;
  color: rgb(70, 8, 214);
  font-size: 23px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.ram-block{
  background-color: rgba(234, 238, 241, 0.9);
  margin-top: 80px;
  width: 800px;
  border: solid;
  border-radius: 10px;
  border: rgb(181, 181, 235) 5px solid;
border-radius: 10px;
  border: rgb(181, 181, 235) 5px solid;
  -webkit-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  font-size: 23px;
  font-family: PTAstra;
  text-align: justify;
  text-indent: 25px; 
  padding: 50px 100px 50px 100px;
}

.ocean{
  color: #070bec;
}