*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
.logo {
  margin-top: -20px;
  width: 150px;
}
@font-face {
  font-family: Angeme-Regular;
  src: url("/static/main/fonts/Angeme-Regular.ttf");
  font-weight: 900;
}
 
body{
  padding-top: 50px;
  background-image: url("/static/main/img/abbg.jpg"); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ram-block{
  margin-top: 200px;
  padding: 15px;
  width: 800px;
  border: solid;
  border-radius: 10px;
  border: rgb(181, 181, 235) 5px solid;
border-radius: 10px;
  border: rgb(181, 181, 235) 5px solid;
  -webkit-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  font-size: 20px;
  font-family: Angeme-Regular;
}
.text-a{
  font-family: Angeme-Regular;
}

.ocean{
  color: #070bec;
}