/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* a {
  color: black;
  text-decoration: none;
} */

/* body{
  padding-top: 50px;
  background-image: url("/static/main/img/bg.jpg"); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* 
.logo{
  height: 150px;

} */
.swiper{
  /* background-color: aliceblue; */
  margin-top: 100px;
  width: 1200px;
  height: 300px;
}
#about{
  background-image: url("/static/main/img/about.png");
  background-size: cover;
}

#frame{
  background-image: url("/static/main/img/frame.png");
  background-size: cover;
}

#news{
  background-image: url("/static/main/img/news.jpg");
  background-size: cover;
}

#lensess{
  background-image: url("/static/main/img/lensess.jpg");
  background-size: cover;
}

#portfolio{
  background-image: url("/static/main/img/portfolio.png");
  background-size: cover;
}

#reviews{
  background-image: url("/static/main/img/OS.jpg");
  background-size: cover;
}

#organizations{
  background-image: url("/static/main/img/orbg.jpg");
  background-size: cover;
}

.swiper-slide{
  display: flex !important;
  justify-content: center;
  font-size: 30px;
  /* opacity: 0.5; */
}

.auth{
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

@media(max-width:1250px){
  .swiper{
    width: 100%;
  }
}

@media(max-width:850px){
  .swiper{
    height: 150px;
    font-size: 20px;
  }
  .swiper-slide{
    font-size: 20px;
  }
}

.register{
  border: solid rgb(61, 88, 239);
  border-radius: 15px;
  border-bottom: 50px;
  
}