a{
  color: white;
  text-decoration: none;
  transition: 200ms;
}
a:hover{
  color: gray;
}
.swiper{
  margin-top: 100px;
  width: 1200px;
  height: 300px;
}
#about{
  background-image: url("/static/main/img/about.png");
  background-size: cover;
}
#frame{
  background-image: url("/static/main/img/frame.png");
  background-size: cover;
}
#sale{
  background-image: url("/static/main/img/sale.jpg");
  background-size: cover;
}
#lensess{
  background-image: url("/static/main/img/lensess.jpg");
  background-size: cover;
}
#portfolio{
  background-image: url("/static/main/img/portfolio.png");
  background-size: cover;
}
#reviews{
  background-image: url("/static/main/img/OS.jpg");
  background-size: cover;
}
#organizations{
  background-image: url("/static/main/img/orbg.jpg");
  background-size: cover;
}
.swiper-slide{
  display: flex !important;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  border: rgb(181, 181, 235) 5px solid;
  -webkit-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
}
@media(max-width:1250px){
  .swiper{
    width: 100%;
  }
}
@media(max-width:850px){
  .swiper{
    height: 150px;
    font-size: 20px;
  }
  .swiper-slide{
    font-size: 20px;
  }
}
