*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

h1{
  color: aliceblue;
}

body{
  padding-top: 50px;
  background-image: url("/static/main/img/pfbg.jpg"); 
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio{
  margin: 100px;
}

.text{
  text-indent: 10px;
  font-size: 23px;
  height: 60px;
  background-color: rgb(156, 245, 248);
  border-radius: 5px;
  border: rgb(71, 71, 203) 5px solid;
  -webkit-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
}

.foto{
  width: 100%;
  border-radius: 5px;
  border: rgb(71, 71, 203) 5px solid;
  -webkit-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
  box-shadow: 26px 11px 5px -6px rgba(34, 60, 80, 0.6);
}

main{
  background-color: rgba(255, 255, 255, .3);
  width: 1000px;
  margin-top: 30px;
}
